  body {
    margin: 0;
    padding: 0;
    font-family:"jersey 10", sans-serif;
    background-color: #121212;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    padding: 14px 18px;
  }

  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  .logo img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  a{
    text-decoration: none;
  }

  .menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .menu a::before {
    content: "▶";
    color: #a675d3;
    font-size: 10px;
    margin-right: 4px;
  }

  .profile {
    background: linear-gradient(135deg, #a675d3, #8b5cc2);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }
