
  body {
    background: url("../images/img4.png") no-repeat center center fixed;
    background-size: cover;
  }
  
  .pai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

  .container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    backdrop-filter: blur(10px);
    text-align: center;
  }
  
  /* Logo e título */
  

  
  h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    color: #531f91;
  }
  
  /* Inputs */
  .form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    font-family:"jersey 10", sans-serif;
  }
  
  /* Botão */
  .form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #6c2eb9;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    font-family:"jersey 10", sans-serif;
    font-size: 20px;
  }
  
  .form button:hover {
    background: #531f91;
  }
  
  /* Link */
  .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: white;
  }
  
  .login-link a {
    color: #e6e6e6;
    text-decoration: underline;
  }
  